{{!-- Avatar Modal --}}
<div id="avatarModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="closeAvatar">&times;</span>
            <h3>Choose Avatar</h3>
            <hr class="break-line">
        </div>
        <div class="modal-body">
            <div class="avatar-container">
                <div><img class="avatar-icon" src="/images/avatars/explorer.png"></div>
                <div><img class="avatar-icon" src="/images/avatars/hiker.png"></div>
                <div><img class="avatar-icon" src="/images/avatars/lady.png"></div>
                <div><img class="avatar-icon" src="/images/avatars/skiier.png"></div>
                <div><img class="avatar-icon" src="/images/avatars/surfer.png"></div>
                <div><img class="avatar-icon" src="/images/avatars/swimmer.png"></div>
                <br>
            </div>
            <br>
        </div>
        <div class="modal-footer">
            <button class="blueBtn" id="chooseAvatar">Save</button>
            <hr class="break-line">
        </div>
    </div>
</div>