@import url("./utils.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

/*****************************************************************/
/* Fonts, global, misc */
/*****************************************************************/

* {
  font-family: 'Roboto Mono', monospace, sans-serif, Geneva, sans-serif;
}

h1, h2, h3 {
  color: #333;
  font-family: 'Roboto Mono', monospace;
  padding: 5px;
  margin: 5px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;

}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
  margin-top: 0.5em;
}

legend {
  font-size: 1.5em;
  color: #23395d;
}

p {
  font-size: 18px;
  text-align: justify;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  min-width: 360px;
}

.thumbnail {
  width: 300px;
}


.toast {
  grid-area:header;
  display: flex;
  padding: 2rem;
  font-size: 1.6rem;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
 
} 

.toast__text {
  font-size: 25px;

}


/*****************************************************************/
/* Nav bar */
/****************************************************************/

.nav-grid {
  display: grid;
  flex-direction: column;
  grid-template-columns: 3fr 6fr 6fr 3fr;
  grid-template-areas: "logo links auth toast";
  align-items: center;
}

.nav-menu__text {
  color: whitesmoke;
}

.nav-menu-flex {
  grid-area: links;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-auth-flex {
  grid-area: auth;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
}

nav {
  background-color: #333;
  justify-content: space-between;
  height: 0;
  min-height: 100px;
  max-height: 480px;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: height 1s cubic-bezier(0.26, -0.01, 0, 1.01);
  position: sticky;
  top: 0px;
  z-index: 1;
  
}

nav .nav-brand a {
  grid-area: logo;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav .nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .nav-items .nav-link {
  padding: 0.3rem 1.5rem;
  font-size: 1.5rem;
}

.navbar__google {
  padding: 10px;
}

nav .nav-items .nav-link:hover a {
  color: white;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

#search-form {
  width: 70%;
}

#searchButton {
  height: auto;
}

#articleSearch {
  margin-bottom: 0;
  margin-right: 10px;
}

/* Navbar toggle */
nav .toggle-collapse {
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
  display: none;

}

nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 2.4rem 1.5rem;
}

nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
}

.collapse {
  height: 30rem;
}

.icon, .icon::before, .icon::after {
  background-color: whitesmoke;
  position: relative;
  width: 25px;
  border: 3px solid whitesmoke;
  border-radius: 6rem;
  display: inline-block;
  transition: all 1s ease;
  transition-property: width, left;
}

.icon::before {
  content: " ";
  position: absolute;
  top: 5px;
  width: 25px;
  left: -3px;
  margin-top: 5px;
}

.icon::after {
  content: " ";
  position: absolute;
  top: 10px;
  left: -3px;
  margin-top: 12px;
}

.toggle-click, .toggle-click::before, .toggle-click::after {
  width: 25px;
}

.toggle-click::before {
  left: -6px;
}


/*****************************************************************/
/* Global page container */
/****************************************************************/

.container {
  min-width: 420px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 50px 1fr 50px;
  width: 100%;
  min-height: calc(100vh - 200px);
  grid-template-areas: "left header right" "left main right" "footer footer footer";
}


/*****************************************************************/
/* Page Content Containers */
/****************************************************************/

.regionMenu, .article, .manage-account, .create-account, .article-body, .article-container, .my-articles {
  grid-area: main;
  margin-top: 20px;
  justify-content: center;
  background-color: whitesmoke;
  padding: 20px;
  border: 5px solid #333;
}

/*****************************************************************/
/* Homepage region container */
/****************************************************************/

.regionMenu__cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: space-between;
  margin: -20px;
}

.regionMenu__card__image {
  filter: saturate(100%);
  transition: filter 1s;
}

.regionMenu__card__image:hover {
  filter: saturate(250%);
  transition: filter 1s;
}


/*****************************************************************/
/* Region-specific pages */
/****************************************************************/

.region-hero-image__container {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
  margin: -20px;
  padding-bottom: 10px;
}

.region-hero-image {
  display: flex;
  width: 100%;
}

.region-hero-image__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  color: white !important;
  font-size: 75px;
}


/*****************************************************************/
/* Read article pages */
/****************************************************************/

.article-body__container {
  display: grid;
  grid-template-columns: repeat(minmax(300px, 1fr));
  justify-content: space-between;
}

.large-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.myArticles {
  grid-area: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  padding: 10px;
  background-color: whitesmoke;
}

.myArticles {
  grid-area: main;
  display: flex;
  align-items: flex-start;
}

.article-body__container img {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  
}
.article-body__container figure {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  
}

.article-body__container iframe{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.read-article__image {
  max-width: 100%;
  display: flex;
  height: auto;
}

.article-like {
  width: 30px;
  margin-bottom:0;
}

#likesCounter {
  margin-top: 0;
  font-size: 14px !important;
}


/*****************************************************************/
/* Cards */
/****************************************************************/

.regionMenu__card {
  border-radius: 5px;
  box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.25), 2px 5px 14px rgba(0, 0, 0, 0.22);
  flex-direction: row;
  margin: 25px;
  overflow: hidden;
  opacity: 0;
  transition: 3s opacity;
  z-index: 0;
}

.card-title {
  margin: 5px;
}

.regionMenu__card.visible {
  opacity: 1;
}

.regionMenu__card__image {
  width: 100%;
  padding: 0;
  margin: 0;
}

.regionMenu__card__header {
  text-align: center;
}

.regionMenu__card {
  transition: opacity 2s;
}

.regionMenu__card:hover {
  box-shadow: 15px 14px 28px rgba(0, 0, 0, 0.25), 15px 10px 10px rgba(0, 0, 0, 0.18);
  transition: box-shadow 0.5s;
}

.regionMenu__card__info {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}

/*****************************************************************/
/* Forms */
/****************************************************************/

form {
  grid-area: main;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333;
  font-weight: bold;
}

input, textarea {
  border: solid 1px #333;
  border-radius: 5px;
  padding: 10px 2px 10px 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

.article-like, #inpFile {
  border: none !important;
}

.number {
  background-color: #23395d;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*WYSIWYG disable source link*/

.tox-control-wrap {
  display: none;
}

/* Form validation messages*/

.warn {
  color: red;
}

.success {
  color: green;
}

/*****************************************************************/
/* create account, manage account & create article */
/****************************************************************/
.create-account, .manage-account, .manage-account-title, article {
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
} 

.article input, textarea {
 width: 80%;
}

.article-drop-down select, label {
font-size: 20px;
}

.manage-account-buttons {
  width: 100%;
  flex-flow: row wrap;
  text-align: center;
} 


.manage-account input, textarea, .create-account input{
  width: 90%;
  width: 90%;
}

.no-content__heading {
  text-align: center;
  margin-top: center;
}

.no-content__container {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  width:200px;
  height:200px;
}

.no-content__sadface {
  text-align: center;
  display: flex;
  width: 100%;
}

/*****************************************************************/
/* Footer */
/****************************************************************/

footer {
  height: 100px;
  display: flex;
  grid-area: footer;
  background-color: #333;
  margin-bottom: 0;
  margin-top: auto;
  padding: 20px;

  justify-content: center;
  align-items: center;
  text-align: center;
}

footer a {
  color: white;

}

.copyright-text {
  color: white !important;
}

address{
  color: red;
}

/*****************************************************************/
/* Responsiveness */
/****************************************************************/
@media only screen and (max-width: 1100px) {
  nav .nav-items {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: column;
    padding-top: 2rem !important;
  }
  nav {
    flex-direction: column !important;
    display: block !important;
  }
  nav .toggle-collapse {
    display: initial;
  }
  .nav-menu {
    margin-top: 1.3em;
  }
  nav .nav-brand a {
    font-size: 2rem;
    padding: auto;
    margin-bottom: 50px;
  }
  .container {
    grid-template-columns: 2fr 25fr 2fr;
    grid-template-areas: 'header header header' 'left main right' 'footer footer footer'
  }
}

@media only screen and (min-width: 98px) and (max-width: 1250px) {
  #logo{
    content:url("/images/logos/smallLogo.png");
    width: 100px;
  }
}